---
import Navbar from './Navbar.vue'
import { Icon } from 'astro-icon/components'

interface Props {
  title: string
  description: string
  mainCta: {
    text: string
    href: string
  }
  secondaryCta: {
    text: string
    href: string
  }
}

const { title, description, mainCta, secondaryCta } = Astro.props
---

<div
  class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/90 pt-14"
>
  <div
    class="absolute inset-y-0 right-1/2 -z-10 -mr-72 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-90 lg:-mr-[50%]"
    aria-hidden="true"
  >
  </div>
  <div class="lg:pt-40 lg:pb-40">
    <div
      class="mx-auto lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8"
    >
      <h1 class="max-w-2xl title-2xl lg:col-span-2 xl:col-auto">
        {title}
      </h1>
      <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
        <p class="text-lg leading-8 text-gray-600">
          {description}
        </p>
        <div class="mt-10 flex flex-col xsm:flex-row items-center gap-6">
          <a
            tabindex="0"
            v-if="mainCta"
            :href="mainCta.href"
            class="btn btn--primary w-full xsm:w-auto text-center"
          >
            {mainCta.text}</a
          >
          <a
            v-if="secondaryCta"
            tabindex="0"
            :href="secondaryCta.href"
            class="link"
            >{secondaryCta.text} <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
      <Icon
        name="hero-birds"
        class="mt-10 w-full h-auto max-w-lg mx-auto rounded-2xl object-cover sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 lg:pr-6 xl:row-end-2 xl:mt-36"
      />
    </div>
  </div>
  <div
    class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"
  >
  </div>
</div>
